<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Tournament Management</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="/index">Chess Tournament Manager</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/tournaments">Tournaments</a></li>
            <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
            
        </ul>
        <form action="#" th:action="@{/logout}" method="post" class="logout-form">
            <button type="submit" class="logout-button">Log Out</button>
        </form>
    </div>
</nav>

<main>
    <h1>Tournament Registration</h1>
    <div class="user-view" th:if="${userRole == 'ROLE_USER'}">
        <p>Available Tournaments. Registration Period: Until Date of Tournament</p>
        <table>
            <thead>
                <tr>
                    <th>Tournament</th>
                    <th>Min Elo</th>
                    <th>Max Elo</th>
                    <th>Date</th>
                    <th>Vacancies</th>
                    <th>Register</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tournament : ${tournaments}">
                    <td th:text="${tournament.title}"></td>
                    <td th:text="${tournament.minElo}"></td>
                    <td th:text="${tournament.maxElo}"></td>
                    <td th:text="${tournament.date}"></td>
                    <td th:text="${tournament.size - #lists.size(tournament.participants)}"></td>
                    <td>
                        <form th:action="@{/register/{id}(id=${tournament.id})}" method="post">
                            <button type="submit">Register</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>


</body>
</html>
